{% extends "base.html.twig" %}


{% block body %}

	<h1>
		{{episode.title}}
		– S{{season.number}}E{{episode.number}}
	</h1>
	<h2>{{program.title}}</h2>
	<p>{{episode.synopsis}}</p>

	{% for comment in episode.comments|reverse %}
		toto
		<p>{{comment.comment}}</p>
		{% if is_granted("ROLE_ADMIN") or comment.user == app.user  %}
			<a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer da comment</a>
		{% endif %}
		<hr>
	{% endfor %}

	{% if is_granted('ROLE_CONTRIBUTOR') %}
		<span>Comment as
			{{app.user.email}}</span>
		{{ include('comment/_form.html.twig') }}
	{% endif %}


{% endblock %}
