{% extends "base.html.twig" %}

{% block body %}

	<div class="container-fluid">
		<h1>
			{{season.program.title}}
			-
																		        Season
			{{season.id}}
		</h1>
		{% for episode in season.episodes %}
			<div>
				<h2>{{ loop.index }}
					/
					{{ episode.title }}
					<a href="{{ path("program_episode_show", { program_id: season.program.id, season_id: season.id, episode_id : episode.id }) }}">Voir la fiche</a>
				</h2>
				{# <p>{{ program.summary }}</p> #}
				{# Lien vers la fiche de la série : #}
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}


		<a href="{{ path('app_index') }}">
			Retour à l'accueil
		</a>
	</div>

{% endblock %}
